.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: blue;
  color: white;
  padding: 20px;
  text-align: center;
}

.header h1 {
  margin: 0;
  font-size: 2.5rem;
}

.content {
  display: flex;
  flex: 1;
  padding: 20px;
  gap: 20px;
}

.modal-content p {
  word-break: break-word;
  overflow-wrap: break-word;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }
}

.left-section,
.right-section {
  flex: 1;
}

.divider {
  width: 2px;
  background-color: #ccc;
  border-radius: 1px;
}

.loading,
.error {
  font-size: 12px;
  color: white;
  padding: 5px;
  border-radius: 3px;
  margin-top: 5px;
  margin-bottom: 1rem;
  display: block;
}

.error {
  background-color: #dc3545;
}

.loading {
  background-color: #ffc107;
  color: #212529;
}

.modal-actions button {
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.action-button {
  background-color: #007bff;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.form-group input,
.form-group select {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group label {
  width: 120px;
  margin-bottom: 0;
  margin-right: 10px;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  width: 100%;
  max-height: 80vh;
  overflow-y: auto;
}

.delete-button {
  background-color: #dc3545;
  color: white;
}

.edit-button {
  background-color: #ffc107;
}

.actions button {
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .form-group {
    flex-direction: column;
    align-items: flex-start;
  }

  .form-group label {
    width: auto;
    margin-bottom: 5px;
    margin-right: 0;
  }

  .form-group input,
  .form-group select {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .item {
    flex-direction: column;
    align-items: flex-start;
  }

  .actions {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
  }

  .actions button {
    margin-left: 0;
    margin-top: 0;
  }
}

.item-text {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.list {
  max-height: 400px;
  overflow-y: auto;
}

.save-button {
  background-color: #28a745;
  color: white;
}

.add-button,
.planning-button {
  margin-bottom: 20px;
  margin-right: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.transparente {
  opacity: 0.5;
}
